* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font: 16px/32px "Open Sans", Helvetica, Arial, sans-serif;
    background-image: url(images/background.png);
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.1em;
    font-weight: 300;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0px;
    font-size: 46px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

a {
    transition: all .3s ease-in-out
}

.font-lobster {
    font-family: 'Lobster', cursive;
    text-transform: none;
}

#navigation {
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .3s ease;
}

#navigation.scrollednav {
    margin-right: 0px;
    margin-left: 0px;
    background: #fff;
}

#navigation.scrollednav a {
    color: #474747;
}

.nav {
    margin-right: 20px;
    margin-left: 20px;
    background: transparent;
}

#navigation .container {
    width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

#menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

#menu ul {
    margin-right: -15px;
    float: right;
    list-style: none;
    margin: 0;
    vertical-align: baseline;
}

#menu ul li {
    float: left;
    display: block;
    position: relative;
    min-height: 62px;
    margin: 0 10px;
}

#menu ul li a {
    font: 14px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    float: none;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid transparent;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 9px;
    display: block;
}

#navigation .nav-border {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #ffffff;
    z-index: -1;
}

#home {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 700px;
    display: table;
}

#home .container-wrapper {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

#home h2 {
    padding-bottom: 10px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.col-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    width: 33.3333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.profile-image {
    width: 200px;
    border-radius: 100%;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 6px #fff;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section-title {
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    color: #454545;
    font-weight: 300;
    position: relative;
    margin-top: 80px;
}

.color-white {
    color: #ffffff;
}

.font-large {
    font-size: 70px;
}

.bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

#about {
    background: #ffffff;
    padding: 80px 0;
    position: relative;
    text-align: center;
    display: block;
}

.line {
    display: block;
    width: 200px;
    height: 1px;
    background: #aaaaaa;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.7;
}

.line-white {
    display: block;
    width: 200px;
    height: 1px;
    background: #ffffff;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.7;
}

#about p {
    font-size: 28px;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 200;
    line-height: 1.4;
}

#services {
    padding: 0;
    background: transparent;
    color: #ffffff;
    position: relative;
    text-align: center;
    display: block;
}

.transparent-wrapper {
    padding: 80px 0;
    border-top: 60px solid rgba(255, 255, 255, 0.3);
    border-bottom: 60px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    width: 100%;
    margin: 0 auto;
}

#services h4 {
    margin-bottom: 10px;
}

.services-list {
    margin-top: 30px;
    margin-left: 40%;
}

#services p {
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin-bottom: 10px;
}

#contact-form {
    background: transparent;
    position: relative;
}

.contact-form {
    position: relative;
}

.contact-form p {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
}


input, textarea {
    font: 16px/32px "Open Sans", Helvetica, Arial, sans-serif;
    background: #dddddd;
    color: #555555;
    border: 1px solid rgba(10, 10, 10, 0.06);
    padding: 12px 20px;
    margin: 0;
    margin-bottom: 20px;
    font-style: italic;
    height: auto;
    box-shadow: none;
    width: 100%;
}

textarea {
    padding: 10px 20px;
    resize: both;
    margin-top: 0;
    height: 150px;
}

input[type="submit"] {
    text-transform: uppercase;
    width: auto;
    font-style: normal;
    background: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    letter-spacing: 0.2em;
    margin-left: 43%;
    margin-bottom: 20px;
    color: #fff;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



